/*Get rid of default padding and margin*/
*{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
	/**/
header,nav,article,section,footer,aside{
     display: block;
}

/*Centering webside*/

.container{
	width: 1000px;
	margin: 0px auto;
	/*top bottom will 0px, and right left automatic*/
	
}

.clear {
	clear: both;
}
/*it will clear our float top_nav*/
    

 .logo 
 {
 	height: 128px;
 	width: 128px;
 	float: left;
 }

 .top_nav{

    float: left;
    width: 872px
    /* width will be .containerwidth-logowidth (1000-128)=872*/
 }

  .main_header{
  	/*background-color: #91b6f2*/
  	background-color:rgba(255,0,0,0.5);
  }

  /*float main and aside section float*/
  .left_side {
  	float: left;
  	width: 700px;
   	/*border: 2px solid red;*/
   	/*because container is 1000px so dive in main and aside section*/
   	/*if we give border due to less space our float will not work and it
   	 will puch up down*/
    /*margin-right: 10px;*/
    /*so we have to adjust with width 700px /we have to give less*/
    /*so instid of adjusting the width we should work with children
    ,mean .left_side (section) is a parent of artical,work with artical*/
	}

   


   /*artical is chidren of section*/
   .left_side article {
   	border: 2px solid red;
   	margin-right: 10px;
   	padding: 10px;
   }
   /*.right_side all div chidren*/
    
   .right_side div {
   	border: 2px solid red;
   	margin: 0px 0px 10px 0px; 
   	/*top left bottom right*/
   	padding: 10px;


   }

   .right_side 
   {
   	float: left;
   	width: 300px;
   	/*border: 2px solid red;*/
   }




   /*make footer clear floated element*/
   .page_footer{

    	clear: both;
    	text-align: center;
   }





 .top_nav ul li{

     /*after floting this i used clear:both; in "clear" div */
 	/*display:inline; */
 	 /*first way to do*/
 	 font: bold 30px verdana;
 	 float: left;
 	 padding: 50px 20px;
 	 
 	}

 	 /*this is our top_nav child * /
 


  /*float main and aside section float*/


   
