	body {
		/*padding: 30px;*/
		font-family: sans-serif;
	}

  .flex_container{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }
    .flex_container > div > a {
      display: block;
      text-decoration: none;
      color: #0AB;
      transition: all .4s;
    }
    .flex_container > div > a:hover {
      background-color: #0AB;
      color: #000;
      padding: 0 30px;
      border-radius: 10px;
    }

  .page_header{
      background: linear-gradient(darkcyan, #FFF);
      padding: 5px;
      color: #FFF;
    }

	.box {
		box-sizing: border-box;
	}

	.relative {
		width: 640px;
		position: relative;
		cursor: pointer;
		margin: 20px 0 0 20px;
		overflow: hidden;
		/*after position absolute need to hide , use overflow: hidden*/
	}
	/*the bottom of image white space will come, to avoid the 
		problem ,display: block, to img*/
	img{
      display: block;
    }

    .absolute {
    	width: 100%;
    	height: 100%;
    	background-color: rgba(00,00,00,0.6);
    	/*text-align: center;*/
      	/*padding: 20px 65px;
      	color: #FFF;
      	font-size: 1.2em;
      	line-height: 2em;*/
      	position: absolute;
      	top: -100%;
      	left: -100%;
      	transition: all 0.4s;

    }
    /*this class will come in javascripe ,i have to change position top $ left*/
    .newclassdiv {
    	width: 100%;
    	height: 100%;
    	background-color: rgba(00,00,00,0.6);
    	text-align: center;
      	/*padding: 20px 65px;*/
      	color: #FFF;
      	font-size: 1.2em;
      	line-height: 2em;
      	position: absolute;
      	top: 0;
      	left: 0;
      	transition: all 0.4s;
    }

     .childContent{
      margin-top: 20%;
      margin-bottom: 20px;
    }

    .floatRight {
      position: relative;
      top: -380px;
      right: 80px;
      float: right;
      /*font-size: 1.3em;*/
      margin-left: 10px;
    }
    